<!DOCTYPE HTML>
<html>
	<head>
		<title>우와한사내들검사페이지</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="is-preload">

			<header id="header">
				<h1>검사 페이지</h1>
				<p>아래 링크를 입력하고 검사를 시작하세요<br />
				사용방법을 알고 싶다면 링크를 클릭 -> <a href="assets/사용설명서/설명서.html">사용설명서</a>.</p>
			</header>

			<form action="/post" method="post" action="#">
				<p>링크 입력 : <input type="text" id="input" name="input"></p>
				<p>링크을 입력하고 검사버튼을 누르세요. <input type="submit" value="검사 시작" onclick="alert('검사 시작')" /></p>
			</form>

			<footer id="footer">
				<ul class="copyright">
					<li>&copy; 우와한사내들</li><li>Contect: <a>csihyeon9@gmail.com</a></li>
				</ul>
			</footer>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>

